@{
    ViewData["Title"] = "Служба технической поддержки";
}


<div class="container">
    <div class="c-header">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="card">
        <div class="card-header">
            <h2>
                @ViewData["Title"]
                <small></small>
            </h2>
        </div>

    </div>
</div>


@section Scripts{
    <script>
            $(document).ready(function () {              
                $('#b24-support').hide();
            });
    </script>
}